/node_modules
/public/hot
/public/js/app.js
/public/js/vendor.js
/public/css/app.css
/public/storage
/storage/app
/vendor
/.idea
/.vscode
/.env
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

