.articleContainer p {
    text-align: justify;
    font-size: 20px;
}
.articleContainer img {
    display: block;margin: auto;
    max-width: 100%;
    height: auto;
}
@media only screen and (max-width: 768px) {
    .articleContainer img {
        max-width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 420px) {
    .articleContainer p {
        font-size: 18px;
    }
}
