.signupWidth {
    width: 60%;
}

@media only screen and (max-width: 768px) {
    .signupWidth {
        width: 80%;
        margin-top: 120px;
    }
}

@media only screen and (max-width: 576px) {
    .signupWidth {
        width: 85%;
        margin-top: 90px;
    }
}

@media only screen and (max-width: 400px) {
    .signupWidth {
        width: 95%;
    }
}
