body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FAFAFA ;
}

main {
  direction: rtl;width: 100%;
}

a:hover {
  text-decoration: none;
}
li {
  list-style: none;
}
.displayBlock {
  display: block !important;
}
.flex {
  display: flex;width: 100%;
}
.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.flex-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.horizontal-center {display: block;margin: auto;}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-start-align {
  align-content: flex-start ;
}
.flex-center-align {
  align-items: center;
}
.flex-item-1 {
  flex: 0 1 8.33333%;
}
.flex-item-2 {
  flex: 0 1 16.66666%;
}
.flex-item-3 {
  flex: 0 1 24.99999%;
}
.flex-item-4 {
  flex: 0 1 33.33333%;
}
.flex-item-5 {
  flex: 0 1 41.66666%;
}
.flex-item-6 {
  flex: 0 1 50%;
}
.flex-item-7 {
  flex: 0 1 58.33333%;
}
.flex-item-8 {
  flex: 0 1 66.66666%;
}
.flex-item-9 {
  flex: 0 1 74.99999%;
}
.flex-item-10 {
  flex: 0 1 83.33333%;
}
.flex-item-11 {
  flex: 0 1 91.66666%;
}
.flex-item-12 {
  flex: 0 1 100%;
}

@media (min-width: 576px) {
  .flex-item-sm-1 {
    flex: 0 1 8.33333%;
  }
  .flex-item-sm-2 {
    flex: 0 1 16.66666%;
  }
  .flex-item-sm-3 {
    flex: 0 1 24.99999%;
  }
  .flex-item-sm-4 {
    flex: 0 1 33.33333%;
  }
  .flex-item-sm-5 {
    flex: 0 1 41.66666%;
  }
  .flex-item-sm-6 {
    flex: 0 1 50%;
  }
  .flex-item-sm-7 {
    flex: 0 1 58.33333%;
  }
  .flex-item-sm-8 {
    flex: 0 1 66.66666%;
  }
  .flex-item-sm-9 {
    flex: 0 1 74.99999%;
  }
  .flex-item-sm-10 {
    flex: 0 1 83.33333%;
  }
  .flex-item-sm-11 {
    flex: 0 1 91.66666%;
  }
  .flex-item-sm-12 {
    flex: 0 1 100%;
  }
}

@media (min-width: 768px) {
  .flex-item-md-1 {
    flex: 0 1 8.33333%;
  }
  .flex-item-md-2 {
    flex: 0 1 16.66666%;
  }
  .flex-item-md-3 {
    flex: 0 1 24.99999%;
  }
  .flex-item-md-4 {
    flex: 0 1 33.33333%;
  }
  .flex-item-md-5 {
    flex: 0 1 41.66666%;
  }
  .flex-item-md-6 {
    flex: 0 1 50%;
  }
  .flex-item-md-7 {
    flex: 0 1 58.33333%;
  }
  .flex-item-md-8 {
    flex: 0 1 66.66666%;
  }
  .flex-item-md-9 {
    flex: 0 1 74.99999%;
  }
  .flex-item-md-10 {
    flex: 0 1 83.33333%;
  }
  .flex-item-md-11 {
    flex: 0 1 91.66666%;
  }
  .flex-item-md-12 {
    flex: 0 1 100%;
  }
}

.responsive-margin {padding-top: 0;}

/*@media (min-width: 300px) {*/
  /*.responsive-margin {padding-top: 28%;}*/
/*}*/

/*@media (min-width: 768px) {*/
  /*.responsive-margin {padding-top: 14%;}*/
/*}*/

/*@media (min-width: 1024px) {*/
  /*.responsive-margin {padding-top: 0%;}*/
/*}*/
.margin-1 {
  margin: 1%;
}
.margin-2 {
  margin: 2%;
}
.margin-top-2 {
  margin-top: 2%;
}

.margin-l-1 {
  margin: 1%;
}
.margin-l-2 {
  margin: 2%;
}
.margin-left-1 {
  margin-left: 1%;
}
.margin-right-1 {
  margin-right: 1%;
}



/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header, hgroup,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*border: 0;*/
  /*font-size: 100%;*/
  /*font: inherit;*/
  /*vertical-align: baseline;*/
/*}*/
/*!* HTML5 display-role reset for older browsers *!*/
/*article, aside, details, figcaption, figure,*/
/*footer, header, hgroup, menu, nav, section {*/
  /*display: block;*/
/*}*/
/*body {*/
  /*line-height: 1;*/
/*}*/
/*ol, ul {*/
  /*list-style: none;*/
/*}*/
/*blockquote, q {*/
  /*quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
  /*content: '';*/
  /*content: none;*/
/*}*/
/*table {*/
  /*border-collapse: collapse;*/
  /*border-spacing: 0;*/
/*}*/