.iconbar-container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #d9d9d9;
    margin: 6px 0;
    -webkit-transition: ease .4s;
    -moz-transition: ease .4s;
    -ms-transition: ease .4s;
    -o-transition: ease .4s;
    transition: ease .3s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.search-responsive-size {
    height: 37px !important;
}
.res-header {line-height: 1rem;font-size: 1.5rem;}
